.navbar{
    background-color: bisque;
    height: 6.5%;
}
.content{
    background-color: rgba(255, 0, 0, 0.341);
    height: 90%;
}
.footer{
    height: 3.5%;
    background-color: blueviolet;
}

.dark-mode > .footer{
    background-color: #333;
    color: #fff;
}

.dark-mode > .content{
    background-color: #333;
    color: #fff;
}

.dark-mode > .navbar{
    background-color: #333;
    color: #fff;
}